<!DOCTYPE html>
<html>
	<!-- displays content of email message sent to user when he or she
		first registers an account -->
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to g8keep.com, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up to g8keep.com,
      your username is: <%= @user.username %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>