<% unless current_user?(@user) %>
  <div id="access_form">
  <% if current_user.accessing?(@user) %>
    <%= render 'unaccess' %>
  <% elsif current_user.requesting?(@user) %>
	<div id="access_requested">Access requested</div>
  <% else %>
    <%= render 'access' %>
  <% end %>
  </div>
<% end %>
