<!-- partial for determining whether to let the current user
	create a relationship, delete a relationship, or let the
	user know that a relationship is pending -->
<% unless current_user?(@user) %>
  <div id="access_form">
  <% if @visible %>
    <%= render 'unaccess' %>
  <% elsif @rel %>
	<div id="access_requested">Access requested</div>
  <% else %>
    <%= render 'access' %>
  <% end %>
  </div>
<% end %>
