<!-- lists all of the current user's contacts -->
<h1>My Contacts</h1>

<% unless @users.nil? %>

<%= will_paginate @results %>
<ul class="users">
	<strong><%= render @results %></strong>
</ul>
<%= will_paginate @results %>
<% end %>




