<!-- lists valid service providers for user registration -->
<h1>Valid Service Providers:</h1>
  <ul>
	<li>Alltel</li>
    <li>AT&T</li>
    <li>Metro PCS</li>
    <li>Nextel</li>
    <li>Powertel</li>
    <li>Sprint</li>
    <li>Suncom</li>
    <li>T-Mobile</li>
    <li>US Cellular</li>
    <li>Virgin Mobile</li>
    <li>Verizon Wireless</li>
  </ul>