<h1>Valid Service Providers:</h1>
  <ul>
	<li>Alltel</li>
    <li>Ameritech</li>
    <li>AT&T</li>
    <li>Bell Atlantic</li>
    <li>Bellsouth Mobility</li>
    <li>BlueSkyFrog</li>
    <li>Boost Mobile</li>
    <li>Cellular South</li>
    <li>Comcast PCS</li>
    <li>Cricket</li>
    <li>kajeet</li>
    <li>Metro PCS</li>
    <li>Nextel</li>
    <li>Powertel</li>
    <li>PSC Wireless</li>
    <li>Qwest</li>
    <li>Southern Link</li>
    <li>Sprint PCS</li>
    <li>Suncom</li>
    <li>T-Mobile</li>
    <li>Tracfone</li>
    <li>Telus Mobility</li>
    <li>Virgin Mobile</li>
    <li>Verizon Wireless</li>
   </ul>