<!-- Displays users from a visitor's search query-->
<table class="front" summary="For signed-in users">
	<tr>
	  <td class="main">
		<h1>Search Results</h1>
		<ul class="users">
			<strong><%= render @users %></strong>
		</ul>
	  </td>
	  <!-- displays user sidebar -->
	  <td class="sidebar round">		
		<%= render 'shared/user_info' %>
      </td>
    </tr>
 </table>